<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>
    <form action="/posts" method="post">
        <div>
            <label for="username">Enter Username : </label><br>
            <input type="text" placeholder="Enter Username" name="username" id="username">
        </div><br>
        <div>
            <label for="content">Enter Content : </label><br>
            <textarea name="content" id="content" placeholder="write your post"></textarea>
        </div><br>
        <button type="submit">Create Post</button>
    </form>
</body>
</html>